.App {
  text-align: center;
}

.App-header {
  background-color: #08245e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;                /* untuk membuat 2 content menjadi 2 sebaris */
  justify-content: center;
  align-items: center;
  gap: 20px;                    /* untuk membuat jarak diantara 2 content  */
}

.Movie-wrapper {
  width: 500px;                           /* Lebar kanan dan kiri  */
  background-color: antiquewhite;       /* Warna latar belakang   */
  color: black;                         /* Warna Teks huruf dan angka */
}

.Movie-search {
  height: 20px;               /* Lebar Atas dan bawh  */
  font-size: 17px;            /* Ukuran besar Huruf  */
  margin-bottom: 20px;        /* penjauhan dari bawah antara content dengan content lainnya  */
  padding: 10px;              /* Lebar secara keseluruhan (Sudutnya)  */
  font-weight: 600;           /* settingan huruf dari pencarian kita  */
  font-weight: bold;          /* settingan ketebalan huruf dari pencarina kita  */
  width: 470px;               /* Lebar kanan dan kiri  */

}


/* SISANYA BISA LIAT DI DURASI DEA AFRIAL 32:44 */